.container {
  border: 1px solid black;
  background: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100px;
  height: 100px;
  margin: 5vh;
  border: 1px solid black;
}

.item1 {
  background: #e53935;
  flex-grow: 1;
}

.item2 {
  background: #ff6f60;
  flex-grow: 1;
}

.item3 {
  background: #ab000d;
  flex-grow: 1;
}

.item4 {
  background: #d81b60;
  flex-grow: 1;
}

.item5 {
  background: #ff5c8d;
  flex-grow: 1;
}

p {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
